.App {
  display: flex;
  padding-top: 10ch;
  
}
.container{
  padding-bottom: 10ch;
  align-items: center;
  background-color: #dadde0;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.divSelect{
  text-align:  left !important;
  padding-bottom: 2ch;
  
}
.customSelect{
  font-family: Arial;
  width: 200px;
}
